<% include ../partials/header.ejs %>

<div class="container">
 <div class="row">
  
     <div class="col-md-3">
               <p class="lead">LOBO adote</p>
               <div class="list-group">
                   <li class="list-group-item active">Info 1</li>
                   <li class="list-group-item">Info 2</li>
                   <li class="list-group-item">Info 3</li>
               </div>
      </div>
        
      
        
     <div class="col-md-9"> 
            <div class="card">
          <img class="card-img-top img-thumbnail" src="<%= animal.image %>" alt="Imagem do animal">
          <div class="card-body">
            <h5 class="card-title"><span><a><%=animal.name%></a> <h5 class="float-right">R$ <%=animal.price%></h5></span></h5>
            
            <p class="card-text"><%= animal.description%></p>
            <p class="card-text"><em>Criado por: <%= animal.author.username%></em></p>
            <% if (currentUser && animal.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-warning btn-sm" href="/adote/<%= animal._id %>/edit">Editar</a>
                    <form class="btndeletar" action="/adote/<%=animal._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Deletar</button>
                    </form>
            <% } %>        
          </div>
        </div>
        
      
        
        <div class="card">
         <h5 class="card-header text-right"><a href="/adote/<%=animal._id%>/comments/new" class="btn btn-success">Adicionar novo comentario</a></h5>
         <div class="card-header">
            <% animal.comments.forEach(function(comment){ %>
            <span> <p class="float-right">10 days ago</p> </span>
           <h5 class="card-title"><strong><%= comment.author.username %></strong> </h5> 
           <p class="card-text"><%= comment.text %></p>
           <!--//checar se esta logado && ownership-->
           <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
           <a class="btn btn-warning btn-sm" href="/adote/<%= animal._id %>/comments/<%= comment._id %>/edit">Editar</a>
           <form class="btndeletar" action="/adote/<%=animal._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Deletar</button>
                    </form>
           <% } %>
           <% }); %>
         </div>
        </div>
        
        
        
     </div>
        
        
        

             
             
   </div>
 </div>


 <% include ../partials/footer.ejs %>